<?xml version='1.0' encoding='utf-8'?>
<widget xmlns ="http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.tripwire.test"
		versionCode = "10"
		version = "1.0.0" >
    <name>VERT Alert Reader</name>
    <description>
        View VERT Alerts via RSS
    </description>
    <author href="http://www.tripwire.com">
        Tripwire
    </author>
    
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="webos" />
	<gap:platform name="symbian" />
	<gap:platform name="blackberry" />
	<gap:platform name="winphone" />
	
</widget>
